{% extends "base.html" %} 
{% block title %} Hakkımızda {% endblock %}
{% block content %}
<div class="container">
    <h2>Hakkımızda</h2>
    <p>Bu sayfada şirket olarak hakkımızdaki bilgileri paylaşacağız</p>
    <div class="row">
        {% for about in abouts %}
        <div class="col-md-12">
            <div class="card mb-12">
                <img src="{{ about.Image.url }}" class="card-img-top" alt="{{ about.Title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ about.Title }}</h5>
                    <p class="card-text">{{ about.Description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
