{% extends "base.html" %} 
{% block title %} Takımımız {% endblock %}
{% block content %}
<div class="container">
    <h2 style="text-align: center; font-size: 70px;">Our Team</h2>
    <p>Bu sayfada şirket içindeki ekibimizle ilgili detayları paylaşacağız</p>
    <br>
    <p style="text-align: center; font-size: 50px;" >Kurucularımız</p>
    <div class="row">
        {% for team in teams %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ team.Image.url }}" class="card-img-top" alt="{{ team.Name }}" width="200" height="250">
                <div class="card-body">
                    <h5 class="card-title">{{ team.Name }}</h5>
                    <p class="card-text">{{ team.Description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
